name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint-and-test:
    name: test-${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: linux-x86_64
          - os: ubuntu-24.04-arm
            name: linux-arm64
          - os: macos-latest
            name: macos-arm64
          - os: windows-latest
            name: windows-x86_64
    steps:
      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Cache cargo artifacts
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Run clippy
        run: cargo clippy --workspace --all-targets -- -D warnings
        shell: bash
      - name: Run tests
        run: cargo test --workspace --all-targets
        shell: bash
